.ces-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--color-primary-500);
  text-align: center;
  vertical-align: middle;
  padding: var(--spacing-8) var(--spacing-8);
  line-height: normal;
  font-size: var(--font-size-16);
  border-radius: var(--border-radius-8);
  min-width: 106px;
}
.ces-button .ces-icons {
  width: var(--spacing-14);
  height: var(--spacing-14);
  vertical-align: middle;
  font-size: var(--font-size-14);
}
.ces-button .ces-icons svg {
  vertical-align: baseline;
}
.ces-button .ces-icons svg path {
  fill: var(--color-primary-500);
}
.ces-button.ces-icon-button .icon {
  display: block;
}
.ces-button:hover {
  background-color: var(--btn-ghost-hover-bg);
  border-color: var(--btn-ghost-hover-bg);
  outline: none;
  box-shadow: none;
}
.ces-button:active:focus {
  background-color: var(--btn-ghost-focus);
  border-color: var(--btn-ghost-focus);
  outline: none;
  box-shadow: none;
}
.ces-button-ghost:active:focus {
  color: var(--color-primary-700);
}
.ces-button-ghost:active:focus .ces-icons svg path {
  fill: var(--color-primary-700);
}
.ces-button:disabled {
  opacity: var(--disabled-opacity);
  pointer-events: none;
}
.ces-button-small {
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--font-size-12);
  border-radius: var(--border-radius-4);
  min-width: 62px;
  height: var(--spacing-24);
}
.ces-button-small .ces-icons {
  font-size: var(--font-size-12);
}
.ces-button-small .ces-icons svg {
  width: var(--spacing-12);
}
.ces-button-small.ces-icon-button {
  min-width: 1px;
  width: var(--spacing-24);
}
.ces-button-medium {
  padding: var(--spacing-4) var(--spacing-8);
  font-size: var(--font-size-14);
  min-width: 88px;
  height: var(--spacing-32);
}
.ces-button-medium.ces-icon-button {
  min-width: 1px;
  width: var(--spacing-32);
  padding: var(--spacing-4);
}
.ces-button-large {
  padding: var(--spacing-4) var(--spacing-8);
  min-width: 106px;
  height: var(--spacing-40);
}
.ces-button-large.ces-icon-button {
  min-width: 1px;
  width: var(--spacing-40);
}
.ces-button-primary {
  background-color: var(--btn-primary-bg);
  border-color: var(--btn-primary-bg);
  color: var(--color-primary-50);
}
.ces-button-primary .ces-icons svg path {
  fill: var(--color-primary-50);
}
.ces-button-primary:hover {
  background-color: var(--btn-primary-hover);
  border-color: var(--btn-primary-hover);
}
.ces-button-primary:active:focus {
  background-color: var(--btn-primary-focus);
  border-color: var(--btn-primary-focus);
  box-shadow: 0px 0px 4px rgba(209, 210, 225, 0.37);
}
.ces-button-primary:disabled {
  opacity: var(--disabled-opacity);
}
.ces-button-outline {
  border: 2px solid var(--btn-outline-border);
  color: var(--text-color-dark);
}
.ces-button-outline .ces-icons svg path {
  fill: var(--text-color-dark);
}
.ces-button-outline:hover {
  background-color: var(--btn-outline-hover-bg);
  border-color: var(--btn-outline-hover);
  color: var(--btn-outline-hover-text);
}
.ces-button-outline:hover .ces-icons svg path {
  fill: var(--btn-outline-hover);
}
.ces-button-outline:active:focus {
  background-color: var(--btn-outline-hover-bg);
  border-color: var(--btn-outline-focus);
  color: var(--btn-outline-focus-text);
}
.ces-button-outline:active:focus .ces-icons svg path {
  fill: var(--btn-outline-focus);
}
.ces-button-ghost-secondary {
  color: var(--btn-ghost-secondary-text);
}
.ces-button-ghost-secondary:hover {
  background-color: var(--btn-ghost-secondary-hover);
  border-color: var(--btn-ghost-secondary-hover);
  color: var(--btn-ghost-secondary-text-hover);
}
.ces-button-ghost-secondary:active:focus {
  background-color: var(--btn-ghost-secondary-pressed);
  border-color: var(--btn-ghost-secondary-pressed);
  color: var(--btn-ghost-secondary-text-pressed);
}
.ces-button-icon-right .ces-icons {
  margin-left: var(--spacing-6);
}
.ces-button-icon-left .ces-icons {
  margin-right: var(--spacing-6);
}
.ces-button + .ces-button {
  margin-left: var(--spacing-5);
}
.ces-button.loading-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
/*functional button*/
.ces-button-functional {
  font-weight: var(--font-weight-500);
  padding: var(--spacing-6) var(--spacing-12);
  min-width: 1px;
  border: none;
}
.ces-button-functional:hover {
  text-decoration: underline;
}
.ces-button-functional.ces-button-functional-medium {
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
  height: var(--spacing-32);
}
.ces-button-functional.ces-button-functional-small {
  font-size: var(--font-size-12);
  line-height: var(--spacing-14);
  height: var(--spacing-24);
  border-radius: var(--border-radius-6);
  padding: var(--spacing-5) var(--spacing-8);
}
.ces-button-functional.ces-button-functional-primary {
  background-color: var(--functional-primary-button-background-color);
  color: var(--functional-primary-button-text-color);
}
.ces-button-functional.ces-button-functional-info {
  background-color: var(--functional-blue-button-background-color);
  color: var(--functional-blue-button-text-color);
}
.ces-button-functional.ces-button-functional-info:active:focus {
  background-color: var(--functional-blue-button-background-color);
}
.ces-button-functional.ces-button-functional-danger {
  background-color: var(--functional-danger-button-background-color);
  color: var(--functional-danger-button-text-color);
}
.ces-button-functional.ces-button-functional-danger:active:focus {
  background-color: var(--functional-danger-button-background-color);
}
/*functional secondary button*/
.ces-button-functional-secondary {
  font-weight: var(--font-weight-500);
  padding: var(--spacing-6) var(--spacing-12);
  min-width: 1px;
  border: none;
}
.ces-button-functional-secondary.ces-button-functional-secondary-medium {
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
  height: var(--spacing-32);
}
.ces-button-functional-secondary.ces-button-functional-secondary-small {
  font-size: var(--font-size-12);
  line-height: var(--spacing-20);
  height: var(--spacing-24);
  border-radius: var(--border-radius-6);
  padding: var(--spacing-2) var(--spacing-8);
}
.ces-button-functional-secondary.ces-button-functional-secondary-default {
  background-color: var(--functional-secondary-default-button-background-color);
  color: var(--functional-secondary-default-button-text-color);
}
.ces-button-functional-secondary.ces-button-functional-secondary-default:hover {
  background-color: var(--functional-secondary-default-button-hover-background-color);
}
.ces-button-functional-secondary.ces-button-functional-secondary-disabled {
  background-color: var(--functional-secondary-disabled-button-background-color);
  color: var(--functional-secondary-disabled-button-text-color);
  opacity: 1;
}
/*secondary button icon text*/
.ces-button-secondary-icon-text {
  font-weight: var(--font-weight-500);
  padding: var(--spacing-6) var(--spacing-8);
  min-width: 1px;
  border-radius: var(--border-radius-4);
  border: none;
  font-size: var(--font-size-14);
  display: inline-flex;
  align-items: center;
}
.ces-button-secondary-icon-text .icon {
  margin-right: var(--spacing-4);
  font-size: 17px;
}
.ces-button-secondary-icon-text.ces-button-secondary-icon-text-medium {
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
  height: var(--spacing-32);
}
.ces-button-secondary-icon-text.ces-button-secondary-icon-text-small {
  font-size: var(--font-size-12);
  line-height: var(--spacing-20);
  height: var(--spacing-24);
  padding: var(--spacing-2) var(--spacing-8);
}
.ces-button-secondary-icon-text.ces-button-secondary-icon-text-small .icon {
  font-size: var(--font-size-14);
}
.ces-button-secondary-icon-text.ces-button-secondary-icon-text-default {
  background-color: transparent;
  color: var(--secondary-button-icon-text-color);
}
.ces-button-secondary-icon-text.ces-button-secondary-icon-text-default:hover {
  background-color: transparent;
  color: var(--secondary-button-hover-icon-text-color);
}
.ces-button-secondary-icon-text.ces-button-secondary-icon-text-default:hover span {
  text-decoration: underline;
}
.ces-button-secondary-icon-text.ces-button-secondary-icon-text-default:active:focus {
  background-color: transparent;
  color: var(--secondary-button-hover-icon-text-color);
}
