:root {
  --body-bg: #fafafa;
  --color-white: #fff;
  --card-bg: #fff;
  --sidebar-bg: #14151f;
  --tooltip-bg: #14151f;
  --text-color-dark: #1e202e;
  --avatar-bg: #f2f2f2;
  --dropdown-list-arrow: var(--color-gray-400);
  --dropdown-list-disabled-arrow: var(--color-gray-400);
  --table-text-color: var(--text-color-dark-opacity-high);
  --table-text-color-opacity-60: var(--text-color-dark-opacity-medium);
  --table-group-title: #333;
  --color-orange: #fd7c37;
  --color-light-green: #94b862;
  --color-primary-50: #f9f9fb;
  --color-primary-100: #d1d2e1;
  --color-primary-200: #b2b4cd;
  --color-primary-300: #9396b9;
  --color-primary-400: #8488af;
  --color-primary-500: #7277a4;
  --color-primary-600: #646a9b;
  --color-primary-700: #5a5f8b;
  --color-primary-800: #464a6c;
  --color-primary-900: #32354d;
  --color-primary-1000: #1e202e;
  --color-gray-100: #fafafa;
  --color-gray-200: #e1e1e1;
  --color-gray-300: #c8c8c8;
  --color-gray-400: #afafaf;
  --color-gray-500: #969696;
  --color-gray-600: #4b4b4b;
  --color-gray-700: #323232;
  --color-gray-800: #191919;
  --color-gray-900: #000;
  --color-success-50: #fbfefc;
  --color-success-100: #f2faf6;
  --color-success-200: #e5f5ec;
  --color-success-300: #c0e5d1;
  --color-success-400: #97d4b4;
  --color-success-500: #6bc497;
  --color-success-600: #47b881;
  --color-success-700: #0c9d61;
  --color-info-50: #f8fcff;
  --color-info-100: #f1f8ff;
  --color-info-200: #e4f2ff;
  --color-info-300: #bdddff;
  --color-info-400: #93c8ff;
  --color-info-500: #4ba1ff;
  --color-info-600: #3b82f6;
  --color-info-700: #3a70e2;
  --color-warning-50: #fffdfa;
  --color-warning-100: #fff9ee;
  --color-warning-200: #fff7e1;
  --color-warning-300: #ffeab3;
  --color-warning-400: #ffdd82;
  --color-warning-500: #ffc62b;
  --color-warning-600: #ffad0d;
  --color-warning-700: #fe9b0e;
  --color-danger-50: #fffbfb;
  --color-danger-100: #fef2f2;
  --color-danger-200: #ffebee;
  --color-danger-300: #ffccd2;
  --color-danger-400: #f49898;
  --color-danger-500: #eb6f70;
  --color-danger-600: #f64c4c;
  --color-danger-700: #ec2d30;
  --shadow-lg: 0px 14px 57px rgba(0, 0, 0, 0.25);
  --shadow-md: 0px 9px 19px rgba(0, 0, 0, 0.15);
  --shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.17);
  --switch-bg: var(--color-gray-300);
  --default-bg: #fff;
  --default-border: var(--color-gray-300);
  --default-input-bg: var(--card-bg);
  --default-input-border: var(--color-gray-300);
  --input-placeholder: var(--color-gray-400);
  --input-disabled-bg: #f2f2f2;
  --input-disabled-border: var(--color-gray-200);
  --input-placeholder-color: var(--color-gray-400);
  --input-placeholder-disabled-color: var(--color-gray-400);
  --input-box-shadow: 0px 0px 2px 6px rgba(209, 210, 225, 0.37);
  --radio-shadow: #d1d2e1;
  --input-icon-color: var(--text-color-dark-opacity-low);
  --color-char-count: var(--color-gray-300);
  --color-char-count-disabled: var(--color-gray-300);
  --btn-primary-bg: var(--color-primary-700);
  --btn-primary-hover: var(--color-primary-500);
  --btn-primary-focus: var(--color-primary-800);
  --btn-outline-border: var(--color-gray-300);
  --btn-outline-hover-bg: var(--color-primary-50);
  --btn-outline-hover: var(--color-primary-500);
  --btn-outline-focus: var(--color-primary-800);
  --btn-outline-hover-text: var(--color-primary-500);
  --btn-outline-focus-text: var(--color-primary-800);
  --btn-ghost-hover-bg: var(--color-primary-100);
  --btn-ghost-hover: var(--color-primary-500);
  --btn-ghost-focus: var(--color-primary-200);
  --btn-ghost-secondary-hover: #f2f2f2;
  --btn-ghost-secondary-text: var(--color-gray-500);
  --btn-ghost-secondary-text-hover: var(--color-gray-500);
  --btn-ghost-secondary-text-pressed: var(--color-gray-700);
  --btn-ghost-secondary-pressed: var(--color-gray-200);
  --breadcrumb: var(--color-gray-300);
  --badge-border-color: var(--color-white);
  --badge-color: var(--color-gray-200);
  --input-number-focus: var(--color-primary-100);
  --text-color-primary: var(--color-primary-500);
  --text-color-success: var(--color-success-600);
  --text-color-info: var(--color-info-600);
  --text-color-warning: var(--color-warning-600);
  --text-color-danger: var(--color-danger-600);
  --layout-dark-sidebar-bg: var(--sidebar-bg);
  --number-input-icon: var(--text-color-dark-opacity-high);
  --number-input-icon-disabled: var(--color-gray-400);
  --number-input-hover: var(--color-primary-100);
  --number-input-focus: var(--color-primary-300);
  --header-bg: var(--color-gray-100);
  --header-right-icon: var(--text-color-dark-opacity-low);
  --dropdown-menu-border: var(--color-gray-200);
  --user-role: var(--color-gray-600);
  --subheader-border: var(--color-gray-200);
  --phone-input-country-toggle-default-bg: var(--input-disabled-bg);
  --phone-input-country-toggle-error-bg: var(--color-danger-200);
  --auto-suggest-no-text: var(--color-gray-400);
  --auto-suggest-no-data-icon: var(--color-gray-300);
  --auto-suggest-clear: var(--color-gray-200);
  --auto-suggest-clear-icon: var(--color-white);
  --dropdown-list-item-disabled: var(--color-gray-400);
  --search-dropdown-title: var(--text-color-dark-opacity-low);
  --multiselect-dropdown-selected-text-color: var(--color-primary-400);
  --loader-search-text: var(--text-color-dark);
  --footer-text: var(--color-gray-400);
  --footer-social-link: var(--color-gray-400);
  --chip-bg: var(--color-primary-50);
  --chip-border: var(--color-primary-200);
  --chip-border-hover: var(--color-primary-500);
  --chip-text: var(--color-primary-500);
  --chip-close: var(--color-primary-100);
  --chip-close-hover: var(--color-primary-200);
  --chip-close-focus: var(--color-primary-300);
  --group-btn-bg: var(--color-gray-100);
  --small-text-color: var(--color-gray-400);
  --ces-table-head-color: var(--color-gray-500);
  --color-gradient-1: rgba(228, 228, 228, 0.51);
  --color-gradient-2: rgba(235, 235, 235, 0);
  --hover-effect-light: var(--color-primary-50);
  --chip-bg: var(--color-primary-50);
  --chip-border: var(--color-primary-200);
  --chip-border-hover: var(--color-primary-500);
  --chip-text: var(--color-primary-500);
  --chip-close: var(--color-primary-100);
  --chip-close-hover: var(--color-primary-200);
  --chip-close-focus: var(--color-primary-300);
  --k-calendar-popup-border: var(--color-gray-300);
  --k-input-button-hover: var(--avatar-bg);
  --k-input-button-focus: var(--color-primary-100);
  --k-calendar-thead: var(--color-gray-500);
  --k-today-date-border: var(--color-primary-300);
  --k-date-disabled: var(--color-gray-300);
  --k-date-selected-bg: var(--color-primary-500);
  --k-date-hover-bg: var(--color-primary-100);
  --k-other-month-date: var(--color-gray-500);
  --k-nav-today: var(--color-primary-500);
  --k-time-item: var(--color-gray-300);
  --k-datetime-default-tab: var(--color-gray-300);
  --k-datetime-hover-bg: var(--avatar-bg);
  --toast-low-priority-bg: var(--color-white);
  --toast-close-icon-color: var(--color-gray-400);
  --toast-avatar-text-color: var(--color-gray-500);
  --loader-border-color: var(--color-gray-100);
  --pregress-bg: var(--avatar-bg);
  --color-black: var(--color-gray-900);
  --forgot-password-text-gray: var(--color-primary-400);
  --password-valid-text-gray: var(--color-gray-400);
  --table-border-color: var(--avatar-bg);
  --table-row-hover-color: var(--table-border-color);
  --table-action-button-icon: var(--color-gray-600);
  --table-head-divider: var(--color-gray-200);
  --table-head-bg: var(--avatar-bg);
  --table-head-text: var(--text-color-dark-opacity-high);
  --table-group-head: var(--color-gray-500);
  --table-group-row-hover: var(--color-gray-200);
  --table-group-bg: var(--color-primary-50);
  --table-group-row-border-color: var(--color-gray-200);
  --table-action-btn-dropdown-bg: var(--color-white);
  --table-action-btn-dropdown-border: var(--body-bg);
  --table-expandable-arrow-color: var(--color-gray-300);
  --modal-close-btn: var(--text-color-dark-opacity-low);
  --scrollbar-bg: var(--avatar-bg);
  --scrollbar-thumb-bg: var(--color-gray-300);
  --popover-bg: #f7f7f7;
  --popover-border: #d1d1d1;
  --popover-text: #787878;
  --filter-button-border: var(--color-gray-300);
  --filter-button-text: var(--color-gray-400);
  --filter-button-hover-border: var(--color-primary-300);
  --filter-button-hover-text: var(--color-primary-400);
  --theme-switcher-btn-bg: var(--avatar-bg);
  --theme-switcher-btn--focus-bg: var(--color-gray-200);
  --button-group-container-background-color: #f2f2f2;
  --button-group-active-background-color: #1d9bf0;
  --button-group-text-color: var(--text-color-dark-opacity-medium);
  --button-group-active-text-color: var(--color-white);
  --table-recurring-button-color: var(--text-color-dark-opacity-low);
  --status-info-background-opacity: rgba(75, 161, 255, 0.1);
  --status-warning-background-opacity: rgba(255, 173, 13, 0.1);
  --status-danger-background-opacity: rgba(246, 76, 76, 0.1);
  --status-success-background-opacity: rgba(71, 184, 129, 0.1);
  --status-info-text-color: var(--color-info-500);
  --status-warning-text-color: var(--color-warning-600);
  --status-danger-text-color: var(--color-danger-600);
  --status-success-text-color: var(--color-success-600);
  --battery-state-icon-color-0-20: var(--color-danger-600);
  --battery-state-icon-color-20-40: var(--color-orange);
  --battery-state-icon-color-40-60: var(--color-warning-600);
  --battery-state-icon-color-60-80: var(--color-light-green);
  --battery-state-icon-color-80-100: var(--color-success-600);
  --text-color-dark-opacity-high: #34353e;
  --text-color-dark-opacity-medium: #73747a;
  --text-color-dark-opacity-low: #a6a7ab;
  --tabs-border-color: var(--color-gray-200);
  --advance-datepicker-caret-border-color: var(--dropdown-menu-border);
  --status-chip-info-background-color: rgba(75, 161, 255, 0.7);
  --status-chip-warning-background-color: rgba(255, 173, 13, 0.7);
  --status-chip-danger-background-color: rgba(246, 76, 76, 0.7);
  --status-chip-success-background-color: rgba(71, 184, 129, 0.7);
  --status-chip-disabled-background-color: var(--color-gray-200);
  --status-chip-text-color: var(--text-color-dark-opacity-high);
  --status-chip-disabled-text-color: var(--text-color-dark-opacity-low);
  --status-chip-font-weight: 400;
  --breadcrumbs-v2-link-background-color: var(--color-primary-100);
  --breadcrumbs-v2-link-text-color: var(--text-color-dark-opacity-high);
  --breadcrumbs-v2-selected-background-color: var(--color-gray-200);
  --breadcrumbs-v2-selected-text-color: var(--text-color-dark-opacity-medium);
  --loader-overlay-background-color: #000;
  --functional-primary-button-text-color: var(--color-primary-700);
  --functional-primary-button-background-color: var(--color-primary-100);
  --functional-blue-button-text-color: #1d9bf0;
  --functional-blue-button-background-color: rgba(75, 161, 255, 0.1);
  --functional-danger-button-text-color: var(--color-danger-600);
  --functional-danger-button-background-color: rgba(246, 76, 76, 0.1);
  --functional-secondary-default-button-text-color: var(--text-color-dark-opacity-medium);
  --functional-secondary-default-button-background-color: var(--color-gray-200);
  --functional-secondary-default-button-hover-background-color: var(--color-gray-300);
  --functional-secondary-disabled-button-text-color: var(--color-gray-300);
  --functional-secondary-disabled-button-background-color: #f2f2f2;
  --secondary-button-icon-text-color: var(--text-color-dark-opacity-medium);
  --secondary-button-hover-icon-text-color: var(--text-color-dark-opacity-high);
  --tabs-nav-active-text-color: #0085ff;
  --tabs-nav-border-color: var(--color-gray-300);
  --tabs-nav-active-border-color: #0085ff;
  --status-active-background-color: rgba(71, 184, 129, 0.1);
  --status-active-text-color: var(--color-success-600);
  --status-inactive-background-color: var(--color-gray-200);
  --status-inactive-text-color: var(--text-color-dark-opacity-medium);
  --activity-table-header-border-color: var(--color-gray-300);
  --activity-table-date-header-background-color: #f2f2f2;
  --activity-table-row-border-color: #f2f2f2;
  --date-time-summary-icon-color: var(--color-gray-300);
  --user-profile-avatar-background-color: #f2f2f2;
}
